<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flight/style.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Title: </div>
    <div>
        <%= flight.title %>
        <a href="/flights/<%= flight._id %>/edit">
            <button>Edit Movie</button>
        </a>
    </div>
    <div>Airline </div>
    <div><%= flight.airline %></div>
    <div>Airport </div>
    <div><%= flight.airport %></div>
    <div>FLIGHT NUMBER </div>
    <div><%= flight.flightNo %></div>
    <div>Departs </div>
    <div><%= flight.departs %></div>
  </section>
 <ul>
  <% flight.meals.forEach(meal => { %>
<li><%= meal.name %></li>
  <% }) %>
 </ul>


</section>
<% // new markup below %>



<form action="/flights/<%= flight._id %>/meals" method="POST" id="add-meals">
  <select name="mealId" >
    <% meals.forEach(meal => { %>
      <option value="<%= meal._id %>"><%= meal.name %></option>
   <% }) %>
  </select>
  <button type="submit">ADD MEAL</button>
</form>



<h2>tickets</h2>
<form 
  id="add-ticket-form"
  action="/flights/<%= flight._id %>/tickets"
  method="POST"
>
  <label for="content-textarea">Ticket:</label>
  <textarea name="content" id="content-textarea"></textarea>
  <label for="input-price">Price:</label>
  <input name="price" type="number">
  <button type="submit">Add Price</button>
  <label for="input-seat">Seat</label>
  <input name="seat" required pattern="[A-F][1-9]\d?">
  <button type="submit">Add seat</button>
</form>
<% if (flight.tickets.length) {%>
<table>
  <thead>
    <tr>
      <th>Ticket</th>
      <th>Price</th>
      <th>Seat</th>
    </tr>
  </thead>
  <tbody>
    <% flight.tickets.forEach(ticket => { %>
      <tr>
        <td><%= ticket.createdAt.toLocaleDateString() %></td>
        <td><%= ticket.price %></td>
        <td><%= ticket.seat %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
<% } else { %>
<h3>No tickets yet</h3>
<% } %>
</main>
  
<%- include('../partials/footer') %>