<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flight/style.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Title: </div>
    <div>
        <%= flight.title %>
        <a href="/flights/<%= flight._id %>/edit">
            <button>Edit Movie</button>
        </a>
    </div>
    <div>Airline </div>
    <div><%= flight.airline %></div>
    <div>Airport </div>
    <div><%= flight.airport %></div>
    <div>FLIGHT NUMBER </div>
    <div><%= flight.flightNo %></div>
    <div>Departs </div>
    <div><%= flight.departs %></div>
  </section>
</section>
<% // new markup below %>
<h2>Reviews</h2>
<form 
  id="add-review-form"
  action="/flights/<%= flight._id %>/reviews"
  method="POST"
>
  <label for="content-textarea">Review:</label>
  <textarea name="content" id="content-textarea"></textarea>
  <label for="rating-select">Rating:</label>
  <select name="rating" id="rating-select">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5" selected>5</option>
  </select>
  <button type="submit">Add Review</button>
</form>
<% if (flight.reviews.length) {%>
<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Review</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    <% flight.reviews.forEach(review => { %>
      <tr>
        <td><%= review.createdAt.toLocaleDateString() %></td>
        <td><%= review.content %></td>
        <td><%= review.rating %></td>
      </tr>
    <% }) %>
  </tbody>
</table>
<% } else { %>
<h3>No reviews yet</h3>
<% } %>
</main>
  
<%- include('../partials/footer') %>